body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #100c08;
    width: 600px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
}

a {
    color: #fd7c6e;
    text-decoration: none;
}

a:hover {
    color: #626666;
    border-bottom: solid 2px #fd7c6e;
    padding-bottom: 1px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0px;
}

h2 {
    font-size: 24px;
    font-weight: 200;
}

header {
    padding-top: 20px;
}

nav {
    padding: 0px 40px 10px 0px;
}

nav a {
    margin-right: 20px;
}

nav a:hover {
    border: none;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    font-size: 22px;
}
